[submodule "Resources/public/js/flot"]
	path = Resources/public/js/flot
	url = git://github.com/flot/flot.git
[submodule "Resources/public/js/jqplot"]
	path = Resources/public/js/jqplot
	url = git://github.com/jonmchan/jqplot.git
[submodule "Resources/public/js/flot-bubbles"]
	path = Resources/public/js/flot-bubbles
	url = git://github.com/ubermajestix/flot-plugins.git
